<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form action="" id="resetRequestForm">
        <input type="email" id="email" placeholder="Email :" required>
        <button type="submit">Kirim Email Reset</button>
    </form>

    <script>
        document.getElementById("resetRequestForm").addEventListener("submit", function(e) {
            e.preventDefault();
            const email = document.getElementById("email").value;

            fetch("http://localhost:8080/api/auth/request-reset-password", {
                method : "POST",
                headers : { "Content-Type" : "application/json"},
                body : JSON.stringify({email})
            })
            .then(res => res.text())
            .then(data => alert(data))
            .catch(err = alert("Terjadi Kesalahan"));
        });
    </script>
</body>
</html>