<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify email</title>

    <style>
        body{
            font-family: sans-serif;
        }
        a{
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h2>Verifikasi akun anda</h2>
    <p>Klik tombol dibawah ini untuk mengaktifkan akun anda :</p>
    <a href="${link}">Verifikasi sekarang</a>
    
</body>
</html>